@{
    ViewBag.Title = "Department Students";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/CPanel.cshtml";
}
@Html.DropDownList("DepartmentId", ViewBag.DpList as SelectList, "Select Department", new { @class = "input-lg form-control" })
<div id="Content"></div>
<script>
    $(function () {
        $("#DepartmentId").change(function () {
            $("#DepartmentId option:contains('Select Department')").remove();
            $.post("/Department/DepartmentStudents", { departmentId: $("#DepartmentId").val() }, data => $("#Content").html(data));
        });
    });
</script>