@using Project.Models
@model Department

<h3>@Html.DisplayFor(model => model.Name)</h3>

<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>Course Code</td>
                    <td>Course Name</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Course item in ViewBag.CrList)
                {
                   
                        <tr>
                             <td>@item.Id</td>
                             <td>@item.Name</td>
                        </tr>
                
                }
            </tbody>
        </table>
    </div>
</div>


