@{
    ViewBag.Title = "Attendance in Specific Date";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/CPanel.cshtml";
}
<br /><br />
<div class="date input-group input-group-lg">
    <input class="form-control" type="text"><span class="input-group-addon">
        <i class="glyphicon glyphicon-th"></i>
    </span>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" id="table"></table>
</div>
<script>
    $(function () {
        $('.input-group.date').datepicker({
            format: "mm-dd-yyyy",
            startView: 1,
            maxViewMode: 2,
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true
        }).on("changeDate", e => { $.post("/Attendance/AttendanceSpecificDate", { date: e.date.toDateString() }, data => $("#table").html(data)); });
    })
</script>