body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea { /*max-width: 280px;*/
}

/* mine */
.modal .modal-footer {
    display: none;
}

    .modal .modal-footer:last-of-type {
        display: block;
    }

#ModalBody tr > td {
    border: 0
}

.prop-title {
    font-size: 14px;
    font-weight: 600;
}

input[name=quals] ~ b, input[name=ans] ~ b {
    float: right;
    margin: -28px 10px 0 0;
    position: relative;
    z-index: 9;
}