@model Project.Models.Student

@{
    ViewBag.Title = "stuInDeps";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/CPanel.cshtml";
}

@Html.DropDownList("Department", ViewBag.DpList as SelectList, "Select Department", new { @class = "input-lg form-control" })
@using (Ajax.BeginForm("addStuToDep", "Student", new AjaxOptions { HttpMethod = "Post" }))
{
    <div id="in"></div>
    <input class="btn btn-primary" type="submit" value="Save" />
}
<script>
    $(function () {
        $('#Department').change(function () {
            $(this).find("option:contains('Select Department')").remove();
            $.post("/Student/stuInDeps",
                { Department: $(this).val() },
                { headers: { 'content-type': 'application/x-www-form-urlencoded' } }).then(function (result) { $('#in').html(result) }, function (error) { console.log("Error") });
        });
    })
</script>