<div id="ModalBody" class="modal-body">
    @using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = Model.Id.ToString(), OnSuccess = "$('#DataModal').modal('hide');$('#ModalBody').html('');$('#resp').text('" + @ViewBag.Title + " Edited Successfully!').show().fadeOut(3000)" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @RenderBody()
            <div class="form-group modal-footer">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('.input-group.date').datepicker({
                format: "mm-dd-yyyy",
                startView: 1,
                maxViewMode: 2,
                todayBtn: "linked",
                autoclose: true,
                todayHighlight: true
            });
        })
    </script>
</div>