@{
    ViewBag.Title = "AddDegree";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<form>
    @Html.DropDownList("Department", ViewBag.DpList as SelectList, "Select Department", new { @class = "input-lg form-control" })
    <div class="form-group" id="course"></div>
    <br /><br />
    <div class="table-responsive" id="students"></div>
</form>
<script>
    $(function () {
        $('#Department').change(function () {
            $.post("/Instructor/Department",
                $('form').serialize(),
                { headers: { 'content-type': 'application/x-www-form-urlencoded' } }).then(function (result) { $('#course').html(result) }, function (error) { console.log("Error") });
        });
        saveDegree = function () {
            $.post("/Instructor/saveDegree",
                $('form').serialize(),
                { headers: { 'content-type': 'application/x-www-form-urlencoded' } }).then(function (result) { console.log(result) }, function (error) { console.log("Error") });
        };
    })
</script>