<label class="col-xs-2 col-xs-offset-2">Course</label>
<div class="col-xs-6">
    @Html.DropDownList("Course", ViewBag.CrList as SelectList, "Select Course", new { @class = "form-control" })
</div>
<script>
    $('#Course').change(function () {
        $.post("AddDegree",
            $('form').serialize(),
            {
                headers: {
                    'content-type': 'application/x-www-form-urlencoded'
                }
            }).then(function (result) { $('#students').html(result); },
            function (error) {
                $('table').remove();
                $('#save').remove();
            });
    })
</script>