@{
    ViewBag.Title = "InstructorCourses";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/CPanel.cshtml";
}
@Html.DropDownList("Instructor", ViewBag.InList as SelectList, "Select Instructor", new { @class = "input-lg form-control" })
<br /><br />
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" id="table"></table>
</div>
<script>
    $(function () {
        $("#Instructor").change(() => {
            $(this).find("option:contains('Select Instructor')").remove();
            $.post(`/Instructor/InstructorCourses/${$(this).find(":selected").val()}`).then(data => $("#table").html(data), error => console.log(error));
        });
    })
</script>