@using Project.Models
@model IEnumerable<Qualification>
<div id="ModalBody" class="modal-body">
    <h4>@Model.FirstOrDefault().Instructor.Name's Qualifications</h4>
    <ul>
        @foreach (Qualification item in Model)
        {
            <li class="text-capitalize">@item.Name</li>
        }
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>